{
  "extends": [
    "airbnb",
    "plugin:testcafe/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "testcafe"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "no-console": 0,
    "global-require": 0
  }
}
