{
  "rules": {
    "import/no-extraneous-dependencies": 0
  },
  "globals": {
    "expect": true,
    "TesseractJSUtils": true,
    "TesseractCoreWASM": true,
    "TesseractCoreASM": true,
    "startServer": true,
    "stopServer": true
  }
}
